---
layout: default
title: Table of Contents
---
<section class="mt-15">
    {% for resource in collections.resources %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ resource.url }}">
                        {{ resource.data.name }}
                </a>
            </h2>
            {% if resource.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ resource.data.description }}
                </p>
            {% endif %}

        </article>
    {% endfor %}
</section>
